{% extends "base.html" %}
{% block center %}
<form method="post">
    {% csrf_token %}
        {% if calculate %}
            <div class="row mb-xl-3 pt-2 justify-content-center">
                <div class="col-auto d-none d-sm-block">
                    <div class="card">
                        <div class="card-header">
                            <h3 style="font-family: Arial, Helvetica, sans-serif;">Results</h3>
                        </div>
                        <div class="card-body">
                            <h5 style="font-family: Arial, Helvetica, sans-serif;">
                                <p>
                                    Below you'll find our race performance prediction for the given target distance<br>
                                    and <a href="https://medium.com/strava-engineering/an-improved-gap-model-8b07ae8886c3">
                                    average gradient</a>. This prediction is based on your personal best running<br>
                                    performances at various standard distances. Addtionally, we've ranked your personal<br>
                                    best times based on <a href="http://www.simpsonassociatesinc.com/runningmath1.htm">VDOT</a>.
                                    Understanding your VDOT profile across various distances<br>
                                    can help to guide future training.
                                </p>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- START card for table ranking personal bests  -->
            <div class="row pt-5 justify-content-center">
                <div class="col-12 col-lg-5 col-xxl-4 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header align-self-center card-header-style">
                            Personal Bests Ranked
                        </div>
                        <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-sm table-striped my-0 dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Rank</th>
                                                <th class="text-center" scope="col">Distance</th>
                                                <th class="text-center" scope="col">Time</th>
                                                <th class="text-center" scope="col">VDOT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for key, val in rank_perf.items %}
                                                <tr class="{% cycle 'even' 'odd' %}">
                                                    <td class="text-center" >{{ key }}</td>
                                                    {% for col in val %}
                                                        <td class="text-center" >{{col}}</td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END pb table -->
        <!-- START card for your target race prediction -->
            <div class="row pt-5 justify-content-center">
                    <div class="card" style="width: 600px">
                        {% for key, val in target_perf.items %}
                        <div class="card-header align-self-center card-header-style">
                            Target Race Prediction
                        </div>
                            <div class="card-body py-4 text-center">
                                <p class="align-self-center">
                                    <h3>{{ key }}</h3>
                                </p>
                                <p class="align-self-center">
                                    <h1>{{ val }}</h1>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            <!-- End target race prediction -->
        {% else %}
    <div class="container-fluid p-6 pt-2">
        <div class="row mb-2 mb-xl-3 justify-content-center">
            <div class="col-auto d-none d-sm-block">
                <div class="card">
                    <div class="card-header">
                        <h3 style="font-family: Arial, Helvetica, sans-serif;">Instructions</h3>
                    </div>
                    <div class="card-body">
                        <h5 style="font-family: Arial, Helvetica, sans-serif;">
                            <p>
                                Welcome to the Running Performance Calculator!<br>
                                Enter the times of your personal best running performances for some, or all, of the distances shown.<br>
                                Next, enter a target race distance and average gradient for which we'll make a performance prediction.
                            </p>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                {% for dict in race_forms %}
                    {% for distance, form in dict.items %}
                        <div class="col-12 col-md-6 col-xl-auto flex-grow-1 d-flex pt-2">
                            <div class="card flex-fill">
                                <div class="card-header align-self-center card-header-style">
                                    {{ distance }}
                                </div>
                                <div class="card-body py-4 align-self-center">
                                    {{ form }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row pt-5 justify-content-center">
                    <div class="card" style="width: 700px">
                        <div class="card-header align-self-center card-header-style">
                            Target Race
                        </div>
                            <div class="card-body py-4 align-self-center">
                                {{ target }}
                            </div>
                    </div>
            </div>
    </div>
        <!-- output section start -->
        {% endif %}

            <div class="container text-center pt-5">
                <div class="row justify-content-evenly">
                    {% if calculate %}
                        <div class="col-0">
                            <button type="submit" name="reset" value="reset"
                                class="btn btn-lg btn-outline-dark" style="--bs-btn-bg: #FC4C02; font-family: Arial, Helvetica, sans-serif; color: white; font-weight: bold">
                                    Reset
                            </button>
                        </div>
                    {% else %}
                        <div class="col-0">
                            <button type="submit" name="calculate" value="calculate"
                                class="btn btn-lg btn-outline-dark" style="--bs-btn-bg: #FC4C02; font-family: Arial, Helvetica, sans-serif; color: white; font-weight: bold">
                                    Calculate
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
</form>



{% endblock %}